.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 800px;
  padding: 20px;
  border-radius: 32px;
  background-color: aqua;
  color: black;
}
a {
  color: blue;
}
p {
  color: red;
  font-size: 40px;
}
